h3 { /*Переназначил bootstrap стили*/
  font-size: 14px;
  margin-bottom: 0;
}

p { /*Переназначил bootstrap стили*/
  margin-bottom: 0;
}

.page {
  width: 768px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.page {
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button,
input {
  font-family: 'Rubik', sans-serif;
}

/*Header*/

.main-header {
  margin-top: 18px;
  margin-bottom: 50px;
}

.header-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-form {
  position: relative;
  margin-right: 0;
  min-height: 40px;
}

.search {
  padding-left: 44px;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 58px;
}

.search-form {
  position: relative;
}

.search-form__wrapper::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../img/header/search-icon.svg');
  background-repeat: no-repeat;
  transform: translateY(-56%); /*Подгон*/
}

.search:focus {
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 0.25rem #fdd446;
}

.search-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 570px;
  min-height: 203px; /*Пока для 'красоты'*/
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  z-index: 1;
}

.search-select--open {
  display: block;
}

.search-select--close {
  display: none;
}

.search-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-list__wrapper::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 14px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../img/header/search-icon.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: translateY(-60%); /*Подгон*/
}

.search-list__input {
  padding-top: 16px;
  padding-left: 52px;
  border: none;
  border-radius: 10px;
}

.search-list__input:focus {
  border-color: unset;
  box-shadow: unset;
}

.search-item {
  position: relative;
}

.search-item__img {
  position: absolute;
  top: 50%;
  left: 14px;
  z-index: 1;
  transform: translateY(-50%);
}

.search-item__button {
  width: 568px;
  min-height: 50px;
  background-color: #ffffff;
  padding-left: 52px;
  border: none;
  border-radius: 4px;
  text-align: left;
}

.search-item__button:hover,
.search-item__button:focus {
  border: none;
  outline: none;
  background-color: #fef6d6;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.header__search {
  min-width: 264px;
}

.header__button {
  width: 140px;
  min-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word
}

.header__button--login {
  background-color: #ffffff;
  color: #000000;
  border: 1.5px solid #fdd446;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /*Из фигмы*/
}

.header__button--sign {
  background-color: #fdd446;
  color: #000000;
  border: none;
}

.header__button--login:focus {
  background-color: #fdd446;
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.header__button--sign:focus {
  background-color: #ffffff;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.header__button--login:hover,
.header__button--login:active {
  background-color: #fdd446;
  border-color: #000000;
}

.header__button--sign:hover,
.header__button--sign:active {
  color: #000000;
  background-color: #ffffff;
  border: 1.5px solid #000000;
}

/*---*/

/*Filters*/

.catalog-filters {
  position: relative;
  margin-bottom: 30px
}

.filter {
  min-height: 30px;
  padding-right: 26px;
  background-color: unset;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  appearance: none;
}

.filter-button {
  position: relative;
  width: 154px;
  word-wrap: break-word;
  text-align: left;
}

.filter-sort {
  width: 206px;
  padding-right: 40px;
  padding-left: 10px;
}

.filter-wrapper {
  position: relative;
}

.filter-wrapper-button {
  margin-top: -4px; /*Подгон*/
}

.filter-wrapper-button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 13px;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../img/filter/arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: translateY(-34%); /*Подгон*/
}

.filter-wrapper-sort::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 13px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/filter/arrow1.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: translateY(-50%); /*Подгон*/
}

.filter-search {
  min-width: 326px;
}

/*---*/

/*CatalogList*/

.catalog-list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  list-style-type: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 216px;
  min-height: 436px;
  padding: 8px;
  border: 0.7px solid rgba(48, 47, 46, 0.70);
  border-radius: 4px;
  word-wrap: break-word
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-container + .catalog-container {
  margin-top: auto;
}

.catalog-picture-link {
  color: #000000;
  text-decoration: none;
}

.catalog-picture {
  padding-bottom: 6px
}

.catalog-profile {
  display: flex;
  column-gap: 6px;
}

.catalog-profile__name {
  max-width: 144px;
  line-height: 16px;
  margin-top: -2px; /*Подгон*/
  margin-bottom: -2px; /*Подгон*/
}

.catalog-profile__check {
  position: relative;
  max-width: 144px;
  display: inline-block;
  color: #ff9900;
  font-size: 10px;
}

.catalog-profile__check::after {
  content: '';
  position: absolute;
  top: 1px;  /*Подгон*/
  right: -16px;  /*Подгон*/
  display: block;
  width: 14px;
  height: 14px;
  background-image: url('../img/catalog-item/check.svg');
}

.catalog-name {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.catalog-rare {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90px;
  min-height: 20px;
  padding: 0 14px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 7px;
  border: 1px solid #ffc107;
  text-transform: lowercase;
}

.catalog-price {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 76px;
  min-height: 20px;
  padding: 0 14px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 7px;
  text-transform: lowercase;
  background-color: #fdd446;
  border-radius: 7px;
}

.catalog-button {
  width: 182px;
  min-height: 36px;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  background: linear-gradient(90deg, #fdd446 0%, #f69b47 100%);
}

/*---*/

/*Pagination*/

.pagination-nav {
  margin-bottom: 80px;
  word-wrap: break-word
}

.pagination {
  display: flex;
  align-self: center;
  justify-content: center;
  column-gap: 6px;
  margin: 0;
}

.page-item {
  min-width: 40px;
  min-height: 40px;
}

.disabled>.page-link, .page-link.disabled {
  background-color: unset;
}

.page-link {
  display: block;
  min-width: 40px;
  min-height: 40px;
  color: #000000;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transform: translateX(0.5px);
  background-color: unset;
}

.page-link:focus {
  color: #000000;
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 0.1rem #fdd446;
}

.page-link:hover {
  color: #000000;
  border-color: rgba(0, 0, 0, 0.25);
}

.active>.page-link, .page-link.active {
  color: #000000;
  border: none;
  border-radius: 50%;
  background-color: #fdd446;
}

/*---*/

/*Footer*/

.main-footer {
  position: relative;
  padding-top: 25px;
  padding-bottom: 20px;
}

.main-footer::before {
  content: '';
  position: absolute;
  top: 1px; /*Подгон*/
  left: 0;
  display: block;
  width: 768px;
  height: 706px;
  background-image: url('../img/footer/light-decor-footer.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: translateY(-100%);
  z-index: -1000;
}

.footer {
  width: 768px;
  min-height: 310px;
  background-color: #fdd446;
}

.footer-nav {
  position: relative;
  margin-bottom: 48px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  word-wrap: break-word
}

.footer-list,
.element__body,
.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list {
  display: flex;
  column-gap: 80px;
  padding: 0 20px;
}

.footer-list__element {
  min-width: 154px;
}

.element__title {
  margin-bottom: 20px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.element__item {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.element__item-link {
  color: #000000;
  text-decoration: none;
}

.footer-social {
  display: flex;
  column-gap: 10px;
}

.social-link {
  display: flex;
}

.footer-nav::after {
  content: '';
  position: absolute;
  right: 50%;
  bottom: -38px;
  display: block;
  width: 66px;
  height: 60px;
  background-image: url('../img/footer/star.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: translateX(50%);
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.50);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
